h1
{
    text-align: center;
    height: 100px;
}
div
{
    text-align: center;
}
div#d1
{
    display: none;
}
div#d2
{
    display: none;
}
div#d3
{
    display: none;
}
div#d4
{
    display: none;
}
