h1
{
    text-align: center;
    height: 100px;
}
div
{
    text-align: center;
}
table {
    vertical-align: middle;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }
div#d1
{
    display: none;
}
div#d2
{
    display: none;
}
div#d3
{
    display: none;
}
div#d4
{
    display: none;
}

